@model Lab2.Models.Annotation

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Annotation</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Lines)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Lines)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Text)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Text)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Author)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Author.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Song)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Song.Lyrics)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
